{% extends "base.html" %}
{% load static %}
{% block title %}تفاصيل الفريق{% endblock %}
{% block content %}
    <div class="container p-3" style="text-align: center;">
        <img class="icon_width" src="{% static 'img/ic_team.png' %}" alt="">
        <div>
            <h2>{{ team.name }}</h2>
            <p>{{ team.details }}</p>
        </div>
        <div>
            {% for player in team.player_set.all %}
            <a href="{% url 'player' player.name %}">
                <h3>{{player.name}}</h3>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
